.DS_Store
katsuzetsu-app/node_modules
katsuzetsu-app/package-lock.json

katsuzetsu-functions/bin
katsuzetsu-functions/obj
katsuzetsu-functions/csx
katsuzetsu-functions/.vs
katsuzetsu-functions/edge
katsuzetsu-functions/Publish

katsuzetsu-functions/*.user
katsuzetsu-functions/*.suo
katsuzetsu-functions/*.cscfg
katsuzetsu-functions/*.Cache
katsuzetsu-functions/project.lock.json

katsuzetsu-functions/packages
katsuzetsu-functions/TestResults

katsuzetsu-functions/tools/NuGet.exe
katsuzetsu-functions/App_Data
katsuzetsu-functions/secrets
katsuzetsu-functions/data
katsuzetsu-functions/.secrets
katsuzetsu-functions/appsettings.json
katsuzetsu-functions/local.settings.json

katsuzetsu-functions/node_modules
katsuzetsu-functions/dist
katsuzetsu-functions/package-lock.json

# Local python packages
katsuzetsu-functions/.python_packages/

# Python Environments
#katsuzetsu-functions/.env
katsuzetsu-functions/.venv
katsuzetsu-functions/env/
katsuzetsu-functions/venv/
katsuzetsu-functions/ENV/
katsuzetsu-functions/env.bak/
katsuzetsu-functions/venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
